* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

/* HEADER STYLE  FORM HERE */

.header-section {
    display: flex;
    align-items: center;
    background: rgba(229, 84, 115, 0.10);
}

.header-details,
.header-photo {
    width: 50%;
    margin: 0px 200px;
}

.header-photo img {
    width: 100%;
    padding-right: 100px;
    margin-top: 50px;
    margin-right: 100px;
}

.header-title {
    color: #272727;
    font-size: 70px;
    font-weight: 800;
    line-height: auto;
}

.header-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 30px;
}

.button {
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 43px;
    border: none;
    margin-top: 30px;
}

/* FEATURE STYLE IS FROM HERE */

.feature-section {
    margin: 100px 0px;
}

.feature-details {
    text-align: center;
    margin: 50px 0px;
}

.feature-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.feature-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-top: 20px;
}

.feature-photos {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.flower-one {
    width: 464px;
    height: 538px;
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15)url(../images/pngwing\ 6.png);
    background-position: bottom;
    background-repeat: no-repeat;
}

.flower-two {
    width: 464px;
    height: 538px;
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15)url(../images/pngwing\ 5.png);
    background-position: bottom;
    background-repeat: no-repeat;
}

.flower-three {
    width: 464px;
    height: 538px;
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15)url(../images/pngwing\ 7.png);
    background-position: bottom;
    background-repeat: no-repeat;
}

.flowers-name {
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    padding-top: 20px;
}


/* DISCOUNT-STYLE FROM HERR */

.discount-section {
    display: flex;
    text-align: center;
    align-items: center;
    padding: 50px 150px;
    background: rgba(229, 84, 115, 0.05);
    justify-content: center;
}

.discount-details {
    width: 80%;
    margin: 0px 100px;
}

.discount-photo {
    margin: 0px 100px;
    display: flex;
    width: 50%;
    margin-left: 50px;
}

.discount-title {
    margin-top: 50px;
    padding-top: 20px;
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.of {
    color: #E55473;
}

.discount-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}



/* INSTAGRAM SECTION STYLE  IS FROM  HERE */

.instagram-section-details {
    text-align: center;
    margin: 50px 0px;
}

.instagram-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.instagram-section-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-top: 20px;
}

.instagram-photos {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}


/* SUBSCRIPTION-STYLE IS FROM HERE */

.subscription-section {
    text-align: center;
    margin: 100px 240px;
    padding: 50px 0px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../images/Rectangle\ 9.png);
    background-position: center;
    background-size: cover;
}

.subscription-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.subscription-coupon {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-top: 10px;
}

input {
    width: 600px;
    border: none;
    padding: 25px 20px;
    margin: 0px 20px;
    border-radius: 8px;
    background: white;
}

::placeholder {
    color: rgba(39, 39, 39, 0.60);
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}

/* EXTRA PART STYLE IS FROM  HERE */

.section-title {
    padding-top: 50px;
    text-align: center;
    color: #272727;
    font-size: 50px;
    font-weight: 800;
}

.vision-area {
    background: rgba(39, 39, 39, 0.05);
}

.company-vision {
    display: flex;
    align-items: center;
    margin: 50px 220px;
    justify-content: center;
    gap: 20px;
    padding-bottom: 100px;

}

.quality,
.time-maintain,
.clients-review {
    font-size: 25px;
}

.vision-description {
    height: 350px;
    width: 250px;
    background-color: white;
    box-shadow: 10px 10px 30px rgb(172, 170, 170);
    padding: 50px 50px;
    text-align: center;
    border-radius: 5px;
}

.description {
    padding-top: 20px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

/* FOOTER STYLE IS FROM HERE */


footer {
    margin-top: 100px;
    height: 400px;
    background: #111010;
    color: white;
}

.footer-details {
    text-align: center;
    padding-top: 120px;
}

.footer-title {
    color: #FFF;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.flower {
    color: #E55473;
    font-size: 48px;
    font-weight: 800;
    line-height: normal;
}

.footer-description {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-weight: 400;
    line-height: 30px;
}

.copyright {
    color: rgba(255, 255, 255, 0.90);
    font-size: 16px;
    font-weight: 400;
    padding-top: 10px;
}